<h1>Bike Search</h1>

<div class="search-bar">
  <input
    type="text"
    placeholder="Search bike by city"
    [(ngModel)]="searchValue"
  />
</div>
<div class="pagination">
  <button [disabled]="this.currentPage() <= 1" (click)="firstPage()">
    ‹‹ First
  </button>

  <button [disabled]="this.currentPage() <= 1" (click)="prevPage()">
    ‹ Prev
  </button>

  <span>Page {{ currentPage() }} of {{ allPages() }}</span>

  <button [disabled]="this.currentPage() >= allPages()" (click)="nextPage()">
    Next ›
  </button>

  <button [disabled]="this.currentPage() >= allPages()" (click)="lastPage()">
    Last ››
  </button>
</div>

@if (bikes()?.bikes; as bikesList) {
  <div class="bike-list-wrapper">
    <ul class="bike-list">
      @for (bike of bikesList; track bike.id) {
        <li
          class="bike-card"
          role="presentation"
          (click)="onBikeClick(bike.id)"
        >
          <div class="bike-info">
            <h3 class="bike-title">{{ bike.title || 'Untitled Bike' }}</h3>

            <div class="bike-tags">
              <span
                class="badge status"
                [class.stolen]="bike.stolen"
                [class.found]="!bike.stolen"
              >
                {{ bike.stolen ? 'Stolen' : 'Recovered' }}
              </span>

              @for (color of bike.frame_colors; track color) {
                <span class="badge color">{{ color }}</span>
              }
            </div>
          </div>

          @if (bike.thumb) {
            <div class="bike-thumb">
              <img [src]="bike.thumb" alt="{{ bike.title }}" />
            </div>
          }
        </li>
      }
    </ul>
  </div>
} @else {
  <app-loading></app-loading>
}
